.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-out;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-container:hover {
    transform: scale(1.05);
}

.card-img {
    width: 180px;
}